{#
/**
 * @file
 * Default theme implementation to present a field bundle entity.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_field_bundle()
 */
#}
<div{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
